.dashboard-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

/* Search */
.search-container {
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 40%;
    display: flex;
    margin: auto;
    z-index: 30;
}

/* Output */
.output-container {
    height: 100%;
}