.dashboard-container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.nav-bar {
    position: sticky;
    top: 0;
    z-index: 100;
}

/* Search */
.search-container {
    height: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.search-bar {
    width: 40%;
    display: flex;
    margin: auto;
}

span {
    margin: 0 auto;
}

.file-upload-section {
    position: relative;
    margin: auto;
}

/* Output */
.output-container {
    position: relative;
    height: 100%;
}

.grid-container {
    position: relative;
}

#back-button {
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 40px;
    margin-left: 51%;
    margin-top: 10px;
    background-color: rgb(160, 160, 160);
    z-index: 50;
    display: none;
}

.select-dropbox {
    position: relative;
    display: flex;
    justify-content: center;
}

#report {
    display: none;
}